/**********************************
BODY
***********************************/

* {
  box-sizing: border-box;
}

body {
  font-family: 'Barlow', sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  font-size: 1rem;
  line-height: 1.5;
  color: #333;
  overflow-x: hidden;
}

p {
  font-size: 1.2rem;
}

h1,
h3 {
  text-align: center;
}

.container {
  min-width: 100%;
  margin: auto;
}

.section div h1 {
  text-align: center;
}

.btn {
  background: #34b3a0;
  color: #fff;
  font-size: 1.2rem;
  padding: 1rem;
  text-decoration: none;
  border-radius: 10px;
  margin-top: 1rem;
}

.section-titles {
  color: #868e96;
  text-align: center;
  font-size: 3.5rem;
  font-weight: 300;
  line-height: 1.2;
}



/**********************************
NAVBAR
***********************************/

.navbar {
  background-color: #225470;
  overflow: hidden;
  height: 60px;
  position:fixed;
  z-index:3;
  top: 0;
  width: 100%;
  display: flex;
}

.navbar-nav {
  flex-direction: row;
}

.navbar a {
  float: left;
  display: block;
  color: #fff;
  opacity: .5;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 1.25rem;
}

.navbar ul {
  margin: 8px 0 0 0;
  list-style: none;
}

.navbar-contact-wrapper {
  display: grid;
  grid-template-columns: 22px;
  grid-template-rows: 30px 30px;

}

.navbar-contact-wrapper a {
  padding: 0;
}

.tel-txt,
.mail-txt {
  padding-left: 5px;
  display: none;
}

.fa-envelope-open,
.fa-phone-volume {
  visibility: hidden;
}

.fa-phone-volume:hover {
  visibility: visible;
}


.navbar a:hover {
  transition-duration: 1s;
  color: #34b3a0;
  opacity: 1;
}

.side-nav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  background-color: #111;
  opacity: 0.9;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
}

.side-nav a {
  padding: 10px 10px 10px 30px;
  text-decoration: none;
  font-size: 1.375rem;
  color: #ccc;
  display: block;
  transition: 0.3s;
}

.side-nav a:hover {
  color: #fff;
}

.side-nav #btn-close {
  position: absolute;
  top: 0;
  right: 22px;
  font-size: 2.25rem;
  margin-left: 3.125rem;
}



/**********************************
HEADER
***********************************/

.v-header {
  margin-top: 63px;
  height: 65vh;
  display: none;
  align-items: center;
  color: #fff;
}

.fullscreen-video-wrap {
  position: absolute;
  top: 63px;
  left: 0;
  width: 100%;
  height: 65vh;
  overflow: hidden;
}

.fullscreen-video-wrap video {
  min-width: 100%;
  min-height: 100%;
}

.header-overlay {
  height: 65vh;
  width: 100vw;
  position: absolute;
  top: 63px;
  left: 0;
  background: #225470;
  z-index: 1;
  opacity: 0.85;
}

.header-content {
  z-index: 2;
  margin: auto;
  text-align: center;
  align-items: center;
}

.header-content h1 {
  font-size: 3.125rem;
  margin-bottom: 0;
}

.header-content p {
  font-size: 1.5rem;
  display: block;
  padding-bottom: 2rem;
}



/**********************************
MOBILE HEADER
***********************************/

#mobile-header {
  margin-top: 63px;
  text-align: center;
}



/**********************************
ABOUT
***********************************/

.profile-pic {
  border: 5px  solid #8b4513;
  border-radius: 50%;
}

/**********************************
WORK
***********************************/

#work {
  color: #fff;
}


.work-photo {
  position: relative;
  line-height: 0;
  margin-bottom: 2em;
  overflow: hidden;
  border-radius: 10px;
}

.work-photo img {
  width: 100%;
}

.photo-overlay {
  color: #fff;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(0,0,0, .65);
  opacity: 0;
  transition-property: opacity;
  transition-duration: 0.5s;
}

.work-button {
  width: 70%;
  font-weight: 700;
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  padding: 10px 0;
  text-align: center;
  margin-top: 25px;
}

.photo-overlay:hover {
  opacity: 1;
}



/**********************************
SKILLS
***********************************/

#skills {
  margin-bottom: 3rem;
}

#skills h3 {
  text-align: center;
  margin-top: 1.5rem;
}

#skills-subtitle {
  text-align: center;
  color: #868e96;
}

.progress {
  display: flex;
  height: 1rem;
  overflow: hidden;
  font-size: 0.75rem;
  background-color: #e9ecef;
  border-radius: 0.25rem;
}

.progress-bar {
  transition-duration: 2s;
  background-image: repeating-linear-gradient(
    45deg,
    transparent,
    transparent 10px,
    rgba(255,255,255,.15) 0px,
    rgba(255,255,255,.15) 20px
    );
}

#htmlBar {
  background-color: #28a745;
}

#cssBar {
  background-color: #17a2b8;
}

#javascriptBar {
  background-color: #dc3545;
}

#communicationBar {
  background-color: #ffb722;
}

#cooperationBar {
  background-color: #d449d8;
}

#organizationBar {
  background-color: #e8a5cc;
}



/**********************************
CONTACT
***********************************/

#contact {
  background: #333;
  color: #fff;
}


/**********************************
FOOTER
***********************************/

footer {
  margin-top: 100px;
  text-align: center;
}

footer p {
  font-size: 1em;
}

.transition-time {
  transition: 1.5s;
}

.social a {
  color: #808080;
}

#social-facebook:hover {
  color: #3b5998;
}

#social-twitter:hover {
  color: #00aced;
}

#social-linkedin:hover {
  color: #0077b5;
}

#social-treehouse:hover {
  color: #5fcf80;
}



/**********************************
MEDIA QUERIES
***********************************/

@media(max-width: 568px) {
  .navbar-nav {
    display: none;
  }

  #mobile-header img {
    width: 50%;
  }
}

@media(min-width: 568px) {

  .navbar {
    /* background: none; */
  }

  .open-slide {
    display: none;
  }

  .v-header {
    display:flex;
    margin-top: 0;
  }

  .fullscreen-video-wrap,
  .header-overlay {
    top: 0;
  }

  #mobile-header {
    display: none;
  }

} /* End min-width: 568px  */

@media (min-width: 768px) {
  .work-section-container {
    display: flex;
    justify-content: space-between;
  }

  .navbar-contact-wrapper {
    display: grid;
    grid-template-columns: 22px 200px;
    grid-template-rows: 30px 30px;
  }

  .tel-txt,
  .mail-txt {
    display: inline;
  }

} /* End min-width: 768px */

@media (max-width: 960px) {
  #profile-pic-lg {
    display: none;
  }
} /* End max-width: 568px  */

@media(min-width: 960px) {
  .container {
    padding-left: 3rem;
    padding-right: 3rem;
  }

  #about {
    display: flex;
    justify-content: space-between;
    margin:auto;
  }

  #hi,
  #wdip {
    flex: 2;
  }

  #profile-pic-lg {
    margin: 0 2.5%;
    align-self: flex-start;
    flex: 1;
  }

} /* End min-width: 960px  */
