/**********************************
BODY
***********************************/

* {
  box-sizing: border-box;
}

body {
  font-family: 'Barlow', sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  font-size: 1rem;
  line-height: 1.5;
  color: #333;
  overflow-x: hidden;
}

.container {
  padding-left: 1rem;
  padding-right: 1rem;
  margin: auto;
}

.section div h1 {
  text-align: center;
}



/**********************************
NAVBAR
***********************************/

.navbar {
  background-color: #3b5998;
  overflow: hidden;
  height: 63px;
  position:fixed;
  z-index:3;
  top: 0;
  width: 100%;
}

.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 1.1rem;
}

.navbar ul {
  margin: 8px 0 0 0;
  list-style: none;
}

.navbar a:hover {
  background-color: #ddd;
  color: #000;
}

.side-nav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  background-color: #111;
  opacity: 0.9;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
}

.side-nav a {
  padding: 10px 10px 10px 30px;
  text-decoration: none;
  font-size: 1.375rem;
  color: #ccc;
  display: block;
  transition: 0.3s;
}

.side-nav a:hover {
  color: #fff;
}

.side-nav #btn-close {
  position: absolute;
  top: 0;
  right: 22px;
  font-size: 2.25rem;
  margin-left: 3.125rem;
}



/**********************************
HEADER
***********************************/

.v-header {
  margin-top: 63px;
  height: 65vh;
  display: none;
  align-items: center;
  color: #fff;
}

.fullscreen-video-wrap {
  position: absolute;
  top: 63px;
  left: 0;
  width: 100%;
  height: 65vh;
  overflow: hidden;
}

.fullscreen-video-wrap video {
  min-width: 100%;
  min-height: 100%;
}

.header-overlay {
  height: 65vh;
  width: 100vw;
  position: absolute;
  top: 63px;
  left: 0;
  background: #225470;
  z-index: 1;
  opacity: 0.85;
}

.header-content {
  z-index: 2;
  margin: auto;
  text-align: center;
  align-items: center;
}

.header-content h1 {
  font-size: 3.125rem;
  margin-bottom: 0;
}

.header-content p {
  font-size: 1.5rem;
  display: block;
  padding-bottom: 2rem;
}

.btn {
  background: #34b3a0;
  color: #fff;
  font-size: 1.2rem;
  padding: 1rem;
  text-decoration: none;
  border-radius: 10px;
}

/**********************************
MOBILE HEADER
***********************************/

#mobile-header {
  margin-top: 63px;
  text-align: center;
}

#mobile-header img {
  border: 5px  solid #8b4513;
  border-radius: 50%;
}

/**********************************
ABOUT
***********************************/




/**********************************
WORK
***********************************/

#work {
  background: #333;
  color: #fff;
}



/**********************************
SKILLS
***********************************/




/**********************************
CONTACT
***********************************/

#contact {
  background: #333;
  color: #fff;
}


/**********************************
FOOTER
***********************************/

footer {
  margin-top: 100px;
  text-align: center;
}

footer p {
  font-size: 1em;
}

.transition-time {
  transition: 1.5s;
}

.social a {
  color: #808080;
}

#social-facebook:hover {
  color: #3b5998;
}

#social-twitter:hover {
  color: #00aced;
}

#social-linkedin:hover {
  color: #0077b5;
}

#social-treehouse:hover {
  color: #5fcf80;
}



/**********************************
MEDIA QUERIES
***********************************/

@media(max-width: 568px) {
  .navbar-nav {
    display: none;
  }

  #mobile-header img {
    width: 50%;
  }
}

@media(min-width: 568px) {
  .open-slide {
    display: none;
  }

  .v-header {
    display:flex;
  }

  #mobile-header {
    display: none;
  }

  #about {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

}

@media(min-width: 960px) {
  .container {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}

@media(max-width: 1024px) {
  /* .v-header,
  .fullscreen-video-wrap,
  .header-overlay
   {
    height: 40vh;
  } */
}
